*{
  margin:0px;
}

body{
  background: url('assets/homepage-video-simmer-2017.mp4');
  background-size: cover;
  font-family: helvetica;
}

.videoContainer{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  /* min-width: 100%;
  min-height: 100%; */
  z-index: -100;
  overflow: hidden;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .videoContainer {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }
  #myVideo {
    display: none;
  }
}




.container{
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  align-items: center;
}


/* HEADER */




.header{
  /* border: 5px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  font-weight: 520;
  font-size: 15px;
  margin-top: 20px;
}

.logo{
  justify-content: none;
}

.logo img{
  height: 13px;
  padding-left: 20px;
}

.logo:hover{
  cursor: pointer;
}

.middleLinkGroup{
  display: flex;
  justify-content: space-around;
}

.middleLinkGroup a{
  padding-left: 10px;
  padding-right: 10px;
}

.rightLinkGroup{
  /* display: flex; */
  /* align-items: center; */
  justify-content: flex-end;
  padding-right: 25px;
}

.rightLinkGroup a{
  padding-left: 5px;
  padding-right: 5px;
}

.header a{
  text-decoration: none;
  color: white;
  transition: all 150ms ease;
}

.header a:hover{
  color: slategrey;
}

#bars:hover{
  color:white;
}




/* MIDDLE */

.middle{
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  height: 93.5%;
}

.middleText{
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 35px;
  font-weight:lighter;
  line-height: 60px;
  letter-spacing: 4px;
  width: 730px;
}

.middleBtnGroup{
  padding-top: 25px;
  width: 730px;
  display: flex;
  justify-content: space-between;
}

.middleBtnGroup button{
  color: white;
  width: 175px;
  height: 40px;
  background-color: rgba(0,0,0,0.6);
  border: 0px solid transparent;
  font-size: 15px;
  transition: all 300ms ease;
}

.middleBtnGroup button:hover{
    border: 1px solid white;
}

.middle a{
  padding-top: 25px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  transition: all 200ms ease;
}

.middle a:hover{
  color: red;
}

/* FOOTER */

.footer{
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57%;
  font-size: 12px;
  font-weight: 500;
}

.footer i{
    font-size: 5px;
    color: slategrey;
    padding-bottom: 15px;
}

.footer a{
    text-decoration: none;
    color: lightgrey;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 15px;
}

.footer img{
  width: 20px;
  height: 10px;
  padding-left: 2%;
  padding-bottom: 15px;
}
